<h1>Information about user</h1>
<p>
  <b>First name: </b>
  <%= @user.fname %>
</p>

<p>
  <b>Last name: </b>
  <%= @user.lname %>
</p>

<p>
  <b>Patronymic: </b>
  <%= @user.patronymic %>
</p>

<p>
  <b>Phone number: </b>
  <%= @user.phone %>
</p>

<p>
  <% @user.articles.each do |article| %>
    <%=  link_to( article.title, article_path(article) )   %><br>
  <% end %>
</p>